{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>Admin Panel</title>

<div class="container mt-3">
    <!-- Navigation Tabs -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item pe-3" role="presentation">
            <button
                class="btn btn-outline-dark{% if request.path == '/' %} active{% endif %}"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true">
                Пользователи
            </button>
        </li>
        <li class="nav-item pe-3" role="presentation">
            <button
                class="btn btn-outline-dark{% if request.path == '/' %} active{% endif %}"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false">
                Задания
            </button>
        </li>
        <li class="nav-item pe-3" role="presentation">
            <button
                class="btn btn-outline-dark{% if request.path == '/' %} active{% endif %}"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false">
                Отделы
            </button>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content" id="pills-tabContent">

        <!-- Users Tab -->
        <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab">

            <!-- Users List -->
            <h3>Список пользователей</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Логин</th>
                        <th>Имя</th>
                        <th>Фвмилия</th>
                        <th>Email</th>
                        <th>Пол</th>
                        <th>Отдел</th>
                        <th>Должность</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.gender == 'male' %}
                                Мужчина
                            {% elif user.status == 'female' %}
                                Женщина
                            {% endif %}
                        </td>
                        <td>{{ user.department.name }}</td>
                        <td>{{ user.position }}</td>
                        <td>
                        <button
                            class="btn btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#editUserModal"
                            onclick="editUserModal({{ user.id }})">
                            Edit
                        </button>
                            <button
                                class="btn btn-danger"
                                onclick="deleteUser({{ user.id }})">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9">No users available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tasks Tab -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <button class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#addTaskModal">Добавить задание</button>

            <!-- Tasks List -->
            <h3>Список заданий</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Заголовок</th>
                        <th>Описание</th>
                        <th>Статус</th>
                        <th>Назначено</th>
                        <th>Создано</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr class="{% if task.status == 'completed' %}table-success{% endif %}">
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            {% if task.status == 'new' %}
                                Новое
                            {% elif task.status == 'in_progress' %}
                                В процессе
                            {% elif task.status == 'completed' %}
                                Выполнено
                            {% elif task.status == 'cancelled' %}
                                Отменено
                            {% endif %}
                        </td>
                        <td>{{ task.assigned_to.username }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <button
                                class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#editTaskModal"
                                onclick="editTaskModal({{ task.id }})">
                                Редактировать
                            </button>
                            <button
                                class="btn btn-danger"
                                onclick="deleteTask({{ task.id }})">
                                Удалить
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No tasks available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Departments Tab -->
        <div
            class="tab-pane fade"
            id="pills-contact"
            role="tabpanel"
            aria-labelledby="pills-contact-tab">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">Добавить отдел</button>

            <!-- Departments List -->
            <h3>Список отделов</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{ department.id }}</td>
                        <td>{{ department.name }}</td>
                        <td>
                            <button
                                class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#editDepartmentModal"
                                onclick="editDepartmentModal({{ department.id }})">
                                Edit
                            </button>
                            <button
                                class="btn btn-danger"
                                onclick="deleteDepartment({{ department.id }})">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No departments available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Task Modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="{% url 'add_task' %}" id="addTaskForm">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTaskModalLabel">Добавить задание</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Заголовок</label>
                            <input type="text" class="form-control" id="id_title" name="title" maxlength="120" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Описание</label>
                            <textarea class="form-control" id="id_description" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="id_status" class="form-label">Статус</label>
                            <select class="form-select" id="id_status" name="status" required>
                                <option value="new" selected>Новое</option>
                                <option value="in_progress">В процессе</option>
                                <option value="completed">Выполнено</option>
                                <option value="cancelled">Отменено</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_assigned_to" class="form-label">Кому будет выдано задание</label>
                            <select class="form-select" id="id_assigned_to" name="assigned_to" required>
                                <option value="" selected>---------</option>
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Add Department Modal -->
    <div class="modal fade" id="addDepartmentModal" tabindex="-1" aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="{% url 'add_department' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDepartmentModalLabel">Добавить отдел</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Название отдела</label>
                            <input type="text" class="form-control" id="id_name" name="name" maxlength="120" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Task Modal -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="editTaskForm" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTaskModalLabel">Изменить задание</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editTaskTitle" class="form-label">Заголовок</label>
                            <input type="text" class="form-control" id="editTaskTitle" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="editTaskDescription" class="form-label">Описание</label>
                            <textarea class="form-control" id="editTaskDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="editTaskStatus" class="form-label">Статус</label>
                            <select class="form-select" id="editTaskStatus" name="status" required>
                                <option value="new" selected>Новое</option>
                                <option value="in_progress">В процессе</option>
                                <option value="completed">Выполнено</option>
                                <option value="cancelled">Отменено</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editTaskAssignedTo" class="form-label">Кому будет выдано задание</label>
                            <select class="form-select" id="editTaskAssignedTo" name="assigned_to" required>
                                {% for user in users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Department Modal -->
    <div class="modal fade" id="editDepartmentModal" tabindex="-1" aria-labelledby="editDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="editDepartmentForm" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editDepartmentModalLabel">Изменить отдел</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editDepartmentName" class="form-label">Название отдела</label>
                            <input type="text" class="form-control" id="editDepartmentName" name="name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
    
    <!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="editUserForm" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Изменить пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="editUsername" class="form-label">Имя пользователя</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">Имя</label>
                        <input type="text" class="form-control" id="editFirstName" name="first_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Фамилия</label>
                        <input type="text" class="form-control" id="editLastName" name="last_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="editGender" class="form-label">Пол</label>
                        <select class="form-select" id="editGender" name="gender" required>
                            <option value="male">Мужской</option>
                            <option value="female">Женский</option>
                            <option value="other">Другой</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editDepartment" class="form-label">Отдел</label>
                        <select class="form-select" id="editDepartment" name="department" required>
                            {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="editPosition" class="form-label">Должность</label>
                        <input type="text" class="form-control" id="editPosition" name="position" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'admin/admin.js' %}"></script>
    
{% endblock %}